{{d-button label="admin.site_text.edit" class='edit' action="edit"}}
<h3 class='site-text-id'>{{siteText.id}}</h3>
<pre class='site-text-value'>{{preserve-newlines siteText.value}}</pre>

<div class='clearfix'></div>
